/node_modules
/public/hot
/public/storage
/public/images/users
/public/images/products
/pub_template/reports
/storage/*.key
/storage/images/users
/storage/images/products
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
